@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* reset css */
* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}
{
	background-color:#fdfcf0;
}

div {
	display: block;
}

a {
	color:black;
	display:inline;
	outline: 0;
	text-decoration: none;
}
li> a, a:hover, a:visited, a:link, a:active{
	font-weight:bold;
	display:inline-block;
	text-decoration: none;
}
/**/
img {
	border: 0;
}

ol, ul {
	width:800px;
	height:40px;
	margin:0 auto;
	margin-left:250px;
	list-style: none;
}
#page{
	width:100%;
	height:100%;
	padding-top:20px;
}
#title{
	margin:0 auto;
	width:1000px;
	height:70px;
	border-bottom:3px solid black;
		font-size:40px;
		font-weight:bold;
		margin-bottom:10px;
}
#frame{
	padding-top:10px;
	margin:0 auto;
	width:1000px;
	height:870px;
	box-sizing:border-box;
	
}
#main{
	display:block;
	margin:0 auto;
	width:980px;
	height:260px;
}
#info{
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}
h2{
	font-size:30px;
	margin-top:20px;
	font-weight:bold;
}
#ment01{
	font-weight:bold;
	line-height:30px;
	font-size:20px;
}
p{
	margin-left:20px;
	line-height:25px;
	font-size:14px;
}
.ment02{
	line-height:30px;
	font-size:16px;
}
span{
	width:100px;
	height:50px;
	border:2px solid #3e82a4;
	color:#3e82a4;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	border-radius:5px;
	margin-left:5px;
}
#underline{
	font-weight:bold;
	padding-bottom:10px;
	margin-left:210px;
	width:780px;
	margin-bottom:20px;
	font-size:14px;
	border-bottom:1px solid #d9d6c8;
}
#infomenu{
	margin-top:70px;
	margin-bottom:70px;
}
li{
	background-color:#e71a0f;
	color:white;
	font-weight:bold;
	margin:0 auto;
	padding:7px;
	width:100px;
	height:39px;
	font-size:15px;
	float:left;
	text-align:center;
}
#left{
	float:left;
}

