@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* reset css */
* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

div {
	display: block;
}
.cate01{
	margin:0 auto;
	width:650px;
	height:45px;
	padding:13px 0;
	font-size:14px;
}
.bar{
	
	padding:0 7px;
}
li:nth-child(1){
	border-bottom:1px solid black;
}

span{
	font-weight:bold;
}

a {
	display:block;
	outline: 0;
	text-decoration: none;
}
/**/
img {
	border: 0;
}

ol, ul {
	list-style: none;
}
#cate{
	padding-top:80px;
	width:100%;
	height:230px;
	border:1px solid black;
	
}
#incate{
	margin:0 auto;
	width:1200px;
	height:140px;
	border:3px solid black;
}
#bricks{
	padding-top:20px;
	padding-bottom:60px;
	margin:0 auto;
	width:1200px;
	column-width:250px;
	column-gap:0;
}
	
#bricks >figure{
	position:relative;
	border-radius:6px;
	display:inline-block;
	margin:0px;
	margin-bottom:5px;
	padding:5px;
	
}
#bricks > figure:hover{
	animation:scale 0.5s;
	
}
#bricks > figure:hover figcaption{
	opacity:1;
	animation:opacity 0.5s;
	
}
#bricks >figure > a> img{
	border-radius:6px;
	width:100%;
}
#bricks >figure >figcaption{
	border-radius:6px;
	background-color:rgba(0, 0, 0, 0.05);
	opacity:0;
	padding:10px;
	margin-top:5px;
}
@keyframes scale{
	0%{
	transform:scale(0.95);
	}
	100%{
	transform:scale(1.0);
	}
}
@keyframes opacity{
	0%{
	opacity:0;
	}
	100%{
	opacity:1;
	}
}

/* 상단 이미지 */
.topimage{
	width : 100%;
	height : 700px;
	background-image: url("../img/gallery_top.jpg");
}