@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
ol,ul{list-style:none;}
a{outline:0; text-decoration: none;}
img{border: 0;}
*{margin:0;
	padding:0;
	font-family:"Nanum+Gothic",sans-serif;
}
/* 기본설정 */
section{
	width: 60%;
	margin:0 auto;
	position : relative;
}
h1{
	padding : 20px;
	width : 500px;
     border-bottom: 1px solid #e6e6e6;
}
article{
	position : relative;
	overflow: hidden;
	height : 230px;
	width:225px;
	border-bottom: 5px solid #428bca;;
	transition : width 2s;
}
article:hover{
	position : relative;
	width : 500px;
}
article>.crewline{
	clear:both;
}
article>a{
	position:relative;
}
.crew01>a>div:nth-child(2){
	position:absolute;
	top : 80px;
	right : 225px;
}
.crew02>a>div:nth-child(2){
	position:absolute;
	top : 80px;
	left : 225px;
}
.crew03>a>div:nth-child(2){
	position:absolute;
	top : 80px;
	right : 225px;
}
.link_crew{
	display : block;
}
/* 크루블럭 위치 지정 */
.crew01{
	position : relative;
	float : right;
}
.crew02{
	position : relative;
	top : 250px;
}
.crew03{
	position : relative;
	float : right;
	top : 250px;
}
/* 크루블럭 위치 지정 */
.img1{
	float:right;
}
.img2{
	float:left;
}
div>h3{
	margin : 20px;
	font-size : 30px;
}
div>p{
	font-size : 15px;
}
article:hover div:nth-child(2) h3{
	margin : 20px;
	font-size : 30px;
	animation :h3move 2s;
}
@keyframes h3move{
	0%{
	opacity: 0;
	}
	66%{ 
	opacity: 0;
	}
	100%{
	opacity: 1;
	}
}
article:hover div:nth-child(2) p{
	animation :pmove 2.5s;
	font-size : 15px;
}
@keyframes pmove{
	0%{
	opacity: 0;
	}
	80%{ 
	opacity: 0;
	}
	100%{
	opacity: 1;
	}
}
.floatend{
	clear:both;
}

.topimage{
	width : 100%;
	height : 600px;
	background-image: url("../img/crew/bg_crewmain.jpg");
}
.botimage{
	margin-top : 700px;
	height : 700px;
	background-image: url("../img/crew/bottommain.png");
}

/* 탑 이미지 폰트 */
.info_crew {
    position: absolute;
    top: 255px;
    left: 50%;
    margin-left: -470px;
    font-family: 'Kakao Light','맑은 고딕','Malgun Gothic','Apple SD Gothic Neo','돋움',dotum,sans-serif;
    font-size: 20px;
    color: #fff;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.txt_name {
    display: block;
    padding-top: 3px;
    margin-left: -3px;
    font-family: 'Kakao Regular',sans-serif;
    font-size: 50px;
}